body {
   background-color: rgb(88, 9, 161);
color: rgb(255, 255, 255);
font-family: "Cactus Classical Serif", serif;
display:flex;
justify-content: center;
align-items: center;
height: 700px;
margin:0;
}

button{
    background-color:darkorchid;
    color: white;
    font-family: "Cactus Classical Serif", serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}